/* box sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* vars */
:root {
	--fs: 19px;
	--fs-h1: 1.5rem;
	--fs-h2: 1.3rem;
	--fs-h3: 1.2rem;
	--size: 1.5rem;
	--size-container: 45rem;
	--c-bg: unset;
	--c-fg: unset;
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--c-fg: purple;
		--c-bg: lightgray;
		--c-sbg: slategray;
		--c-link: orange;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--c-fg: black;
		--c-bg: darkgray;
		--c-sbg: darkslategray;
		--c-link: green;
	}
}

/* document */
html {
	font-size: var(--fs);
	color: var(--c-fg);
	background-color: var(--c-bg);
}

@media (max-width: 40rem) {
	html {
		font-size: 1rem;
	}
}

body {
	margin: 0;
	padding: 1rem;

	display: flex;
	flex-direction: column;
}
body-header {
	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--c-bg);
}
body-header menu {
	display: flex;
	flex-wrap: wrap;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}
body-header menu li:not(:last-child) {
	margin-right: var(--size);
}
body-header menu a {
	padding: calc(var(--size) / 4);
}

/* typography */
h1,
h2,
h3,
p {
	margin-top: 0;
	margin-bottom: calc(var(--size) / 2);
}
h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}

/* base elements */
small {
	font-size: 0.8rem;
}
a,
a:active,
a:visited {
	color: var(--c-link);
}

events-systems {
	width: 100%;
	max-width: var(--size-container);
}

matrix-room-element {
	display: flex;
	flex-direction: column;
}
matrix-room-state {
	display: flex;
	flex-direction: column;
}
matrix-room-name {
	font-size: var(--fs-h2);
}
matrix-room-context {
	margin-top: var(--size);
}
matrix-room-context button[dir] {
	display: none;
}
matrix-room-topic {
	white-space: pre-wrap;
}

matrix-space-children {
	:is(menu) {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	:is(li) {
		min-width: 33vmin;
		display: flex;
	}
	:is(matrix-room) {
		margin: calc(var(--size) * 0.2);
		padding: calc(var(--size) * 0.5);
		background-color: var(--c-sbg);
		display: flex;
		flex-grow: 1;
	}
}
matrix-space-parents {
	:is(matrix-avatar, matrix-room-topic, matrix-room-name) {
		display: none;
	}
	:is(matrix-room-state) {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
}

matrix-event {
	display: flex;
	flex-direction: column;
	padding: var(--size);
}

libli-layout::part(nav) {
	display: none;
}
libli-menu,
matrix-room-actions {
	display: none;
}

libli-router {
	/* the root of out focus app, on each route change */
	outline: none;
}
